* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 90px; /* To prevent content from being hidden behind the fixed navbar */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;

        &:hover {
            color: #ddd;
        }
    }
}

.btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        background-color: #777;
    }
}