* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 45px;
}
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #fff;
            left: 0;
            bottom: -5px;
            transition: width 0.3s ease;
        }
    }
}

.nav-links a:hover::after {
    width: 100%;
}